iframe{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.sidebar-footer a{
  width: 50%;
}
.u-text a{
  margin-top: 20px;
  margin-left: 20px;
}
#modalAddSaucerFood{
  overflow: scroll;
}
